// importar archivos scss de bootstrap
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

* {
    font-family: 'Open Sans', sans-serif !important;
    color: #1F1F1F;
}

body {
    background: #FFFFFF;
}

.content {
    margin-left: 5%;
    margin-right: 5%;
}

// ----------------------------------------------------- TEXTOS
.dark-title, .light-title {
    font-size: 32px;
    font-weight: bold;
}

// titulo con fondo claro
.dark-title {
    color: #1F1F1F;
}

// titulo con fondo oscuro
.light-title {
    color: #FFFFFF;
}

// texto en negrita
.bold {
    font-weight: bold;
}

// titulo navbar
.navbar-title {
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
}

// ---------------------------------------------------- FONDOS
// color primario de la empresa para fondos
.dark-orange {
    background-color: #F68B01;
}

.orange {
    background-color: #F39A27;
}

.light-orange-1 {
    background-color: #F0A84C;
}

.light-orange-2 {
    background-color: #EDB772;
}

// color secundario de la empresa
.dark-green {
    background-color: #5A6857;
}

.green  {
    background-color: #717D6E;
}

.light-green-1 {
    background-color: #889186;
}

.light-green-2 {
    background-color: #9FA69D;
}

// ---------------------------------------------------- BOTONES
.normal-button, .dark-button, .disabled-button, .button-next {
    color: #FFFFFF;
    font-size: 14px;
    width: 100%;
    height: 36px;
    font-weight: bold;
    border-radius: 2px;
    border: none !important; 
    text-transform: uppercase;
    font-weight: bold !important;
}

.button-next {
    margin-top: 20px;
}

.normal-button {
    background-color: #F39A27 !important;
}

.normal-button:hover {
    background-color: #F0A84C !important;
}

.dark-button {
    background-color: #717D6E !important;
}

.dark-button:hover {
    background-color: #889186 !important;
}

.disabled-button {
    background-color: #bdbdbd !important;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px
}

.buttons-obra {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
}

.buttons .btn{
    margin-top: 0;
    width: 100%;
}

// ---------------------------------------------------- VARIOS
.hr {
    margin-top: -10px;
    border: 1px solid #1F1F1F;
}


// ----------------------------------------------------- TABLAS
.table {
    width: 100%;
    height: auto;
}

.table th {
    background: #F39A27;
    font-size: 18px;
    box-shadow: none !important;
    text-transform: uppercase;
}

.table th div {
    color: #ffff !important;
}

.table td {
    font-size: 15px;
}

.pagination {
    justify-content: center;
}

.page-item.active .page-link{
    color: #FFFF;
    background-color: #5A6857 !important;
}

.nav-link {
    color: #1F1F1F;
}


// -------------------------------------------------------- MODALS
.modal-header {
    background-color: #F39A27;
}

.modal-title {
    color: #FFFFFF !important;
    font-weight: bold !important;
    
}

.nav-link.active {
    color: #FFFFFF;
    background-color: #F39A27 !important;
    font-weight: bold;
}