* {
    font-family: 'Open Sans', sans-serif !important;
}

.content {
    margin-left: 40px;
    margin-right: 40px;
}
// ----------------------------------------------------- TEXTOS
.dark-title, .light-title {
    font-size: 32px;
    font-weight: bold;
}

// titulo con fondo claro
.dark-title {
    color: #23282c;
}

// titulo con fondo oscuro
.light-title {
    color: #FFFFFF;
}

// texto en negrita
.bold {
    font-weight: bold;
}

// titulo navbar
.navbar-title {
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
}

p {
    font-size: 14px;
}

.error, .success {
    font-size: 34px;
}

.error {
    color: #ff1d1d;
}

// ---------------------------------------------------- FONDOS
// color primario de la empresa para fondos
.dark-orange {
    background-color: #F68B01;
}

.orange {
    background-color: #F39A27;
}

.light-orange-1 {
    background-color: #F0A84C;
}

.light-orange-2 {
    background-color: #EDB772;
}

// color secundario de la empresa
.dark-green {
    background-color: #5A6857;
}

.green  {
    background-color: #717D6E;
}

.light-green-1 {
    background-color: #889186;
}

.light-green-2 {
    background-color: #9FA69D;
}

input[type="password"], input[type="text"],
input[type="number"], .dropdown,
select {
    margin-bottom: 10px !important;
    font-size: 14px !important;
}
