.normal-button, .dark-button, .disabled-button, .button-next {
    color: #FFFFFF;
    font-size: 14px;
    width: 100%;
    height: 36px;
    font-weight: bold;
    border-radius: 2px;
    border: none !important; 
    text-transform: uppercase;
    font-weight: bold !important;
    margin-bottom: 5px;
}

.button-next {
    margin-top: 20px;
}

.normal-button {
    background-color: #F39A27 !important;
}

.normal-button:hover {
    background-color: #F0A84C !important;
}

.dark-button {
    background-color: #717D6E !important;
}

.dark-button:hover {
    background-color: #889186 !important;
}

.disabled-button {
    background-color: #bdbdbd !important;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px
}

.buttons-obra {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
}

.buttons .btn{
    margin-top: 0;
    width: 100%;
}