// estilos generales de modal

.modal-header {
    background-color: #F39A27;
    padding: 10px !important;
}

.modal-title {
    color: #FFFFFF !important;
    font-weight: bold !important;
    
}

.nav-link.active {
    color: #FFFFFF;
    background-color: #F39A27 !important;
    font-weight: bold;
}

// estilos de modal de error y exito
.error {
    color: #e01a1af2;
}

.success {
    color: #2cd435;
}

.error, .success {
    font-size: 80px;
}

#error_modal, #success_modal {
    margin-left: 20%;
}

@media screen and(max-width: 900px) {
    .modal-dialog { 
        margin-left: 0;
        margin-right: 20% !important;
    }

}